* {
  box-sizing: border-box;
}

nav {
  margin-top: 3rem;
  margin-left: 3rem;
  margin-bottom: 1rem;
}

#activeIndex {
  font-size: large;
  color: red;
}

#activeMultimedia {
  font-size: large;
  color: red;
}

.img-thumbnail.logotenistop {
  width: 7%;
  background-color: transparent;
  border: transparent;
  margin-left: 30rem;
  margin-right: 2rem;
}

.img-thumbnail.logotenisbot {
  width: 4%;
  background-color: transparent;
  border: transparent;
  margin-left: 30rem;
  margin-right: 2rem;
}

.bodypaginas {
  font-family: $font-family-sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: $uoc-corporate;
  background-color: $uoc-bg;
}

.boxjugadores {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;

  h1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 240%;
  }
}

.jugador {
  width: 100%;
  padding: 15px;
  text-align: center;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.imgjugador {
  max-width: 100%;
  border-radius: 50%;
  margin-left: 33rem;
}

.headerjugador {
  margin-top: 10px;
  font-size: 18px;
  color: #333;
}

.pjugador {
  margin-top: 8px;
  font-size: 14px;
  color: #666;
}

.boxdesplegable {
  justify-content: center;
  margin-top: 5rem;
  text-align: center;
}

.boxaparece {
  margin-left: 40%;
}

#textoflotante {
  justify-content: center;
  text-align: center;
}

.boxmultimedia {
  margin: 2rem;
  text-align: center;

  h1 {
    margin-top: 2rem;
    font-size: x-large;
    color: lab(150% -400 400) // Nueva función de color.
  }

  p {
    margin-top: 2rem;
    margin-right: 10rem;
    margin-left: 10rem;
    font-size: 1.1cqi; //Nueva unidad.
    text-align: justify;
  }

  button {
    color: green;
    border-color: black;
    border-radius: 15%;
  }
}

